*.swp
*.kate-swp
*~
*.bz2
*.gz
*.xz
*.o
*.so
*.a
*.bak

Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
Makefile.PL
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
WW-Parse-PDA-Engine-*
WW-Parse-PDA-Engine-*.tar.gz

